<% layout('layout') -%>

<div class="container">
    <div class="col-sm-6 col-md-4">
        <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="">
        <br />
        <p>Name: <%=user.profile.name%></p>
        <p>Email: <%=user.email%></p>

        <% if (user.address === "" || typeof user.address === 'undefined') { %>
           <p>Adress: <span style="color: #c0392b; font-weight: bold">You have no address</span></p>
        <% } else { %>
           <p>Adress: <%=user.address%></p>
        <% } %>


        <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>
    </div>

    <div class="col-md-6">
        <h2 class="text-center">History</h2>

        <table class="table table-striped sticky-header">
            <thead>
            <tr>
                <th>Items's Name</th>
                <th>Paid: </th>
            </tr>
            </thead>

            <tbody>
                <% for(var i = 0, len = user.history.length; i < len; i++) { %>
                    <tr>
                        <td><%= user.history[i].item.name %></td>
                        <td><%= user.history[i].paid %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>